
# Labber crashes when these libraries are NOT installed
future>=0.18.2
numpy>=1.21.2
scipy>=1.7.1
h5py>=3.4.0
matplotlib
pyvisa==1.12.0
pyvisa-py==0.5.3
pyvisa-sim==0.5.1
wheel

# This is required by heater_termometrie_2021
mpfshell2>=100.9.17
