
mpfshell2>=100.9.17

wheel>=0.37.0
future>=0.18.2
numpy>=1.21.2
scipy>=1.7.1
h5py>=3.4.0
# This may not be compiled on windows
# Here are some outdated binaries:
# http://www.voidspace.org.uk/python/pycrypto-2.6.1/
# pycrypto>=2.6.1
pyvisa>=1.11.3
